.searchBar{
    padding-top: 5vh;
}
button{
    
    padding: 13px;
    background: linear-gradient(to bottom, #013E5E, #003452);
    border: none;
    color: #fff;
}
.buttonSubmit{
    margin-left: 15px;
}
input{
        padding: 16px;
        width: 50vw;
        font-size: 13px;
        border: none;
        background: linear-gradient(to bottom, #013E5E, #003452);
        color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;    
        text-transform: uppercase;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

@media only screen and (min-width: 601px) {
    .searchBar{
        float: left;
        margin-left: 20vw;
        width: 70vw;
    }
}
@media only screen and (max-width: 600px) {
    .searchBar{
        margin-left: 15vw;
        width: 85vw;
    }
}
@media only screen and (min-width: 800px) {
    .searchBar{
        margin-left: 10vw;
        width: 90vw;
    }
}
@media only screen and (min-width: 1200px) {
    .searchBar{
        float: left;
        margin-left: 10vw;
    }
    input{
        width: 70vw;
    }
}

