.elementsContainer{
    padding-top: 20px;
}
@media only screen and (min-width: 1600px) {
    .elementsContainer{
        margin-left: 7vw;
    }
    .card-img-top{
        height: 28vh;
    }
}
@media only screen and (max-width: 599px) {
    .elementsContainer{
        margin-left: 17vw;
    }
    .card-img-top{
        height: 40vh;
    }
    .logo-main{
        margin-left: 17vw;
    }
}
.logo-main{
    padding-top: -50px;
    margin-left: 7vw;
}
h4{
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
p{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.card{
    border: none;
}
.card-body{
    background: linear-gradient(to bottom, #013E5E, #003452);
    color: #fff;
}
.card-img-top{
    height: 28vh;
}
.card-title{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.card-text{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
button.btn.btn-secondary{
    background: #1DE9B7;
    color: #003452;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}
button.btn.btn-danger{
    background: #ce3131;
    color: #fff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}